.highlight-box-wrapper {
	margin: 1.5em auto;

	&.text {
		&-left {
			text-align: left;

			form.blocks-button__inline-link {
				margin: 5px auto 5px 0;
			}
		}

		&-center {
			text-align: center;

			form.blocks-button__inline-link {
				margin: 5px auto;
			}
		}

		&-right {
			text-align: right;

			form.blocks-button__inline-link {
				margin: 5px 0 5px auto;
			}
		}
	}

	.entry-content & h2.highlight-title {
		margin: 0 0 0.5em;
		color: inherit;
	}

	.edit-post-visual-editor & p {
		margin: 0 0 1.5em;
		color: inherit;
	}

	.container {
		margin: 0 auto;
		max-width: 740px;
		padding: 2em 1em 2.5em;
	}

	.highlight-content {
		margin-bottom: 1.3em;
	}
}
