.highlight-box-wrapper {
	margin: 1.5em auto;
	position: relative;

	&.text {
		&-left {
			text-align: left;

			form.blocks-button__inline-link {
				margin: 5px auto 5px 0;
			}
		}

		&-center {
			text-align: center;

			form.blocks-button__inline-link {
				margin: 5px auto;
			}
		}

		&-right {
			text-align: right;

			form.blocks-button__inline-link {
				margin: 5px 0 5px auto;
			}
		}
	}

	.entry-content & h2.highlight-title {
		margin: 0 0 0.5em;
		color: inherit;
	}

	p {
		margin: 0 0 1.5em;
		color: inherit;
	}

	.container {
		margin: 0 auto;
		max-width: 740px;
		padding: 2em 1em 2.5em;
		position: relative;
	}

	.highlight-content {
		margin-bottom: 1.3em;
	}

	&.has-background-image {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 400px;
	}

	&.has-background-dim:before {
		background-color: rgba( black, 0.5 );
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	@for $i from 1 through 10 {
		&.has-background-dim.has-background-dim-#{ $i * 10 }:before {
			background-color: rgba( black, $i * 0.1 );
		}
	}
}
