.rt-front-page {

	@at-root #{&}__gallery {

		margin: 0 auto;
		padding: 0;
		align-items: center;
		max-width: 700px;

		.blocks-gallery-item {
			align-items: center;

			figure {
				max-width: 159px;
				filter: grayscale(100%);

				&:hover {
					filter: none;
				}
			}
		}
	}
}