/* Timeline Block UI */
.timeline-container {
	display: grid;
	grid-column-gap: 15px;
	grid-template-columns: 120px 1px 1fr;
	margin: 0 auto;
	max-width: 740px;

	@media only screen and (max-width: 768px) {
		grid-template-columns: 100px 1px 1fr;
	}

	@media only screen and (max-width: 667px) {
		grid-template-areas:
			"separator time"
			"separator content-wrap";
		grid-template-columns: 1px 1fr;
	}

	.timeline-date {
		font-size: 14px;
		font-weight: 700;
		padding-right: 10px;
		padding-top: 27px;
		text-align: right;

		@media only screen and (max-width: 667px) {
			grid-area: time;
			padding-left: 10px;
			text-align: left;
		}
	}

	.separator {
		background: #ddd;
		position: relative;
		z-index: 1;

		@media only screen and (max-width: 667px) {
			grid-area: separator;
		}

		&:before {
			background: #3278BD;
			border-radius: 50%;
			content: '';
			display: block;
			height: 20px;
			left: 0px;
			position: absolute;
			top: 30px;
			transform: translateX(-50%);
			transition: all 0.3s;
			width: 20px;
			z-index: 2;

			.timeline-minor & {
				height: 15px;
				top: 33px;
				width: 15px;
			}
		}
	}

	&:hover {
		.separator:before {
			transition: all 0.3s;
		}
	}

	.content-wrap {
		padding-left: 10px;

		@media only screen and (max-width: 667px) {
			grid-area: content-wrap;
		}

		.timeline-minor & {
			@media only screen and (min-width: 668px) {
				padding-left: 30px;
			}
		}

		h3 {
			background: #f1f1f1;
			line-height: 30px;
			margin: 0;
			overflow: hidden;
			padding: 10px;

			.minor-release {
				float: right;
				font-size: 14px;
				font-style: italic;
				line-height: 30px;
			}
		}

		p {
			margin: 0;
			padding: 10px;

			&:not(.blocks-rich-text__tinymce) {
				overflow: hidden;
				padding: 10px 10px 10px 40px;
				position: relative;
			}

			.dashicons {
				font-size: 24px;
				left: 10px;
				line-height: 30px;
				position: absolute;
				top: 10px;
			}
		}
	}

	.content-inner {
		border-radius: 4px;
		border: 1px solid #f1f1f1;
		box-shadow: 2px 2px 5px #ccc;
		margin-bottom: 15px;
		margin-top: 15px;
		position: relative;

		&:before {
			right: 100%;
			top: 16px;
			border: solid transparent;
			border-right-color: #f1f1f1;
			border-width: 10px;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;

			@media only screen and (max-width: 667px) {
				bottom: 100%;
				left: 16px;
				right: auto;
				top: auto;
				border-bottom-color: #f1f1f1;
				border-right-color: transparent;
			}
		}
	}

	.postlinks {
		padding: 0 10px 10px;

		strong {
			margin-right: 5px;
		}

		a {
			border-right: 1px solid #ddd;
			margin: 0 10px 0 0;
			padding: 0 10px 0 0;

			&:hover,
			&:focus {
				border-bottom: 0;
				text-decoration: none;
			}

			&:last-child {
				border-right: 0;
			}
		}
	}
}

.entry-content .timeline-container .postlinks a {
	&:hover,
	&:focus {
		border: 0;
		text-decoration: none;
	}
}

.editor-block-list__block-edit {
	.postlinks a {
		cursor: not-allowed;
		pointer-events: none;
	}
}