.case-study-wrapper {
	display: grid;
	grid-column-gap: 40px;
	grid-template-columns: 400px 1fr;
	margin: 3em auto;
	max-width: 1100px;

	@media only screen and (max-width: 812px) {
		grid-template-columns: 300px 1fr;
	}

	@media only screen and (max-width: 667px) {
		grid-row-gap: 20px;
		grid-template-columns: 1fr;

		.case-study-title {
			text-align: center;
		}
	}

	.image-container {
		width: 100%;

		@media only screen and (max-width: 667px) {
			text-align: center;
		}

		figure {
			margin: 0;
		}
	}

	.info-container {
		width: 100%;

		@media only screen and (max-width: 667px) {
			text-align: center;

			.case-study-content {
				text-align: left;
			}
		}
	}

	.case-study-image {
		&.image-inactive {
			figure {
				display: none;
			}
		}

		&.image-active {
			.components-placeholder {
				display: none;
			}
		}
	}

	.entry-content & a.case-study-link {
		background: #3278BD;
		border-radius: 4px;
		border: 1px solid #3278BD;
		box-shadow: none;
		color: #fff;
		display: inline-block;
		font-size: 18px;
		height: auto;
		line-height: 1;
		margin-top: 10px;
		padding: 12px 20px;
		text-align: center;
		vertical-align: top;
		width: auto;

		&:hover,
		&:focus {
			background: #fff;
			border-color: #3278BD;
			color: #3278BD;
			height: auto;
			text-decoration: none;
			width: auto;
		}
	}
}
