.entry-content > .case-study-wrapper {
	margin: 3em auto;
}

.case-study-wrapper {
	display: grid;
	grid-column-gap: 40px;
	grid-template-columns: 400px 1fr;
	margin: 3em auto;
	max-width: 1100px;

	@media only screen and (max-width: 812px) {
		grid-template-columns: 300px 1fr;
	}

	@media only screen and (max-width: 667px) {
		grid-row-gap: 20px;
		grid-template-columns: 1fr;

		.case-study-title {
			text-align: center;
		}
	}

	.image-container {
		width: 100%;

		@media only screen and (max-width: 667px) {
			text-align: center;
		}

		figure {
			margin: 0;
		}
	}

	.info-container {
		width: 100%;

		@media only screen and (max-width: 667px) {
			text-align: center;

			.case-study-content {
				text-align: left;
			}
		}

		h3 {
			margin-top: 0;
		}
	}

	.case-study-image {
		&.image-inactive {
			figure {
				display: none;
			}
		}

		&.image-active {
			.components-placeholder {
				display: none;
			}
		}
	}
}
